#selveSpillet {
    width: 100vw;      
    display: flex;    
    flex-direction: column;    
    align-items: center; 
    justify-content: center; 
    gap: 50px;
}

#midtenAvSkjermen {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    gap: 300px;
    height: 150px;
}

#midtenKort {
    width: 107px;
    height: 175px;
    display: block;
    justify-content: center;
    align-items: center;
}

#dineKort, #pcKort {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#dineKort>img {
    width: 107px;
    height: 175px;
    object-fit: contain;
}

#kortstokk>img, #midtenKort>img, #pcKort>img {
    width: 107px;
    height: 175px;
}

