html {
    height: 100vh;
    width: 100vw;
    background-image: url(bilder/spillBakgrunn.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 15px 0px 10px; 
    overflow: hidden; /*hindrer scrolling*/
}

#selveSpillet {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /*første element plasseres til venstre, og de neste til høyre*/
    gap: 40px;
}

#dineKort img {
    cursor: pointer;
    transition: transform 0.3s; /*transformer i 0.3 sek*/
} 

#dineKort img:hover {
    transform: scale(1.1); /*transformer til 1.1 av størrelsen sin*/
}

#midtenAvSkjermen {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative; /* Beholder layouten */
    height: 200px;
    gap: 40px;
}

#dineKort, #pcKort {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#midtenKort {
    display: flex;
    justify-content: center;
    align-items: center;
}

#kortstokk img {
    cursor: pointer;
}

#dineKort>img, #midtenKort>img, #kortstokk>img, #pcKort>img {
    width: 107px;
    height: 175px;
}

button {
    font-family: "Pixelify Sans", serif;
    cursor: pointer;
}

#musikkboks {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#forMangeSpillerKort {
    color: white;
    font-family: "Pixelify Sans", serif;
    text-align: center;
}

#tilbakeTilLobby{
    margin-top: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}

#spillerVantBilde, #pcVantBilde{
    height: 50vh;
    width: 50vw;
    justify-content: center;
    align-items: center;
}
 
#knapper{
    display: flex;
    flex-direction: column;
}

#knapper > button{
    margin-bottom: 1rem;
}
